* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(to right,darkblue,purple, cyan);
}
#heading  {
    font-size: 80px;
    font-family: 'Rubik Vinyl', cursive;
    color: white;
    text-align: center;
}